@font-face {
  font-family: "Jersey25";
  src: url("../fonts/Jersey25-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "NewRocker";
  src: url("../fonts/NewRocker-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
